* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f7f7f7;
  font-family: Avenir, "Helvetica Neue", sans-serif;
  color: #333;
}

h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}

a {
  color: inherit;
}

.container {
  margin: 5rem auto;
  padding: 2rem 3rem;
  background-color: #fff;
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.15);
  max-width: 650px;
}

.path {
  font-family: monospace;
  opacity: 0.8;
}

.home-container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.home-container__wrapper {
  background-color: #fff;
  width: 650px;
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.15);
  text-align: center;
}

a.nav-link {
  display: block;
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform-origin: center center;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
}

a.nav-link:hover {
  transform: scale(1.1);
  font-weight: bold;
  background-color: #f7f7f7;
}